<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>SDR-Cleaner-Tools</name>
        <version>1.0</version>
        <author>github.com</author>
        <id>zerorooot</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
